<div class="categoryViewPage">
	<div class="categoryViewPageSections">
		<div class="categoryViewPageCategorySections">
			<a href="#" class="categoryViewPageCategorySectionHeader" > Mobiles</a>
			<a href="#">Apple</a>
			<a href="#">Samsung</a>
			<a href="#">Redmi</a>
			<a href="#">Moto</a>
		</div>
	</div>
	<div class="categoryViewPageSections">
		<div class="categoryViewPageCategorySections">
			<a href="#" class="categoryViewPageCategorySectionHeader" > Laptops</a>
			<a href="#">Apple</a>
			<a href="#">Samsung</a>
			<a href="#">HP</a>
			<a href="#">Asus</a>
		</div>
	</div>
	<div class="categoryViewPageSections">
		<div class="categoryViewPageCategorySections">
			<a href="#" class="categoryViewPageCategorySectionHeader" > Computer Accessories</a>
			<a href="#">Hard Drive</a>
			<a href="#">Pen Drives</a>
			<a href="#">Mouse</a>
			<a href="#">Printers</a>
		</div>
	</div>
	<div class="categoryViewPageSections">
		<div class="categoryViewPageCategorySections">
			<a href="#" class="categoryViewPageCategorySectionHeader" > Speakers</a>
			<a href="#">Home Theatre</a>
			<a href="#">Sound Bars</a>
			<a href="#">Bluetooth Speakers</a>
			<a href="#">Moto</a>
		</div>
	</div>
</div>

<div class="mainFrameBar p-0 m-0">
	<div class="mainFrameLogo">
		<img class="mainFrameLogoImg" src="./assets/images/logo white.svg" alt="Goodies Shop">
  </div>
  <div class="mainFrameSearchBar" >
		<input type='text' placeholder="Quick Menu">
		<img class="" src="./assets/images/search.svg" alt="">
  </div>
  <div class="mainFrameRightSide">
	
		<div class="mainFrameLoginButton">
			<a href="#" class="mainFrameLoginButtonLink" routerLink="/auth/login"  >Login</a>
    </div>
    
		<div class="mainFrameUserInfo">
			<div class="mainFrameUserLink"> <img src="./assets/images/profile.png" ><div class="mainFrameUserName"> <div>Hi </div><div class="mainFrameUserNameElipsis">UserName</div> </div> </div>
    </div>
    
    <div class="mainFrameDropdown">
      <div class="mainFrameDropdownOptions">
        <p class="d-inline">New Customer</p> <a routerLink="/auth/signup" class="mainFrameDropdownSignUp d-inline ml-5">Sign Up?</a>
      </div>
      <div class="mainFrameDropdownOptions">
        My Profile
      </div>
      <div class="mainFrameDropdownOptions">
        Orders
      </div>
      <div class="mainFrameDropdownOptions">
        Wishlist
      </div>
    </div>
		<div class="mainFrameCartSpace">
			<a href="#" class="mainFrameButtonLink "><img class="mainFrameCartImg" src="./assets/images/Cart.svg" alt=""> Cart <div class="mainFrameCartCount">2 </div></a>
		</div>
  </div>
  
</div>

<div class="categoryBar">
  <div class="categoryBarOptions">
    Electronics 
    <img class="categoryBarOptionImg" src="./assets/images/DropDownBlue.svg" alt="">
  </div>
  <div class="categoryBarOptions">
    Fashion 
    <img class="categoryBarOptionImg" src="./assets/images/DropDownBlue.svg" alt="">
  </div>
  <div class="categoryBarOptions">
    Furniture 
    <img class="categoryBarOptionImg" src="./assets/images/DropDownBlue.svg" alt="">
  </div>
  <div class="categoryBarOptions">
    Sports 
    <img class="categoryBarOptionImg" src="./assets/images/DropDownBlue.svg" alt="">
  </div>
  <div class="categoryBarOptions">
    Groceries 
    <img class="categoryBarOptionImg" src="./assets/images/DropDownBlue.svg" alt="">
  </div>
</div>