<div class="container-fluid signUpPage">
    <div class="signUpContainer">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="SignUpLogo">
                <img src="../../../assets/images/logo.svg" alt="Goodies Shop">
            </div>
            <div class="SignUpCreateFormField">
                <div class="SignUpCreateText">
                    Create Account
                </div>
                <div class="SignUpCreateInput">
                    <div class="form-group">
                        <input formControlName="name" type="text" class="form-control form-control-lg SignUpInputField"
                            autofocus placeholder="Your Name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <select formControlName="countryCode" class="SignUpSelectField OptionsFontSize"
                            [ngClass]="{ 'is-invalid': submitted && f.countryCode.errors }">
                            <option value=" India">IN +91</option>
                            <option value="USA">USA +1</option>
                            <option value="UK">UK +10</option>
                        </select>
                        <input formControlName="phoneNumber" class="form-control form-control-lg SignUpPhoneNum"
                            type="tel" placeholder="Phone Number" maxlength="10" pattern="[0-9]{3} [0-9]{3} [0-9]{4}">
                        <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                            <div *ngIf="f.phoneNumber.errors.required">Phone Number is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input formControlName="email" class="form-control form-control-lg SignUpInputField"
                            type="email" placeholder="Enter Email"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors}">

                        <div *ngIf=" submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg SignUpInputField" formControlName="password"
                            type='password' placeholder="Password">
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
                        </div>

                    </div>
                    <div class="form-group">
                        <input formControlName="confirmPassword" class="form-control form-control-lg SignUpInputField"
                            type="password" placeholder="Re-Enter Password"
                            [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                            <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                        </div>
                    </div>
                    <div class="SignUpButton">
                        <button type="submit" class="">Sign Up</button>
                    </div>
                    <div class="SignUpOr">
                        (Or)
                    </div>
                    <div class="SignUpGoogleandFB">
                        <img src="./assets/images/facebook.svg" alt="Goodies Shop">
                        <img src="./assets/images/google.svg" alt="Goodies Shop">
                    </div>
                    <div class="SignUpSignInLink">
                        Already have an account ? <a routerLink="/auth/login">Sign In</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>