<div  style="float:right">
<div class="sidebarNavigation " [hidden]="isShow">
    <ul class="leftNavigation p-0">
        <li class="hideSideBar">
            <div class="sidebarOptions">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
                <a class="" (click)="hide()" >Navigation </a>
            </div>
        </li>
        <li [routerLink]="['', { outlets: { rightPane: ['dashboard' ,'categories'] } }]"
                                >
                                Edit Profile
                            </li>
        <!-- <li class="">
            <div class="sidebarOptions">
                <div class="sidebarImg">
                    <img class="onhoverInvisible" src="../Pics/SVG/Dashboard.svg" alt="Dashboard">
                    <img class="onhoverVisible" src="../Pics/SVG/New folder/Dashboard.svg" alt="Dashboard"
                        style="display:none;">
                </div>
                <a class="" href="#">Dashboard </a>
            </div>
        </li> -->
        <li class="menuLeftNavigation">
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        Dashboard
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
            </mat-accordion>
        </li>
        <li class="menuLeftNavigation">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        Categories
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list role="list">
                        <mat-list-item role="listitem" [routerLink]="['', { outlets: { rightPane: [ 'categories'] } }]"
                        >List Categories</mat-list-item>
                        <mat-list-item role="listitem" (click)="addCategory()">Add Category</mat-list-item>
                      </mat-list>
                </mat-expansion-panel>
            </mat-accordion>
        </li>
        <li class="menuLeftNavigation">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        Orders
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list role="list">
                        <mat-list-item role="listitem">View Orders</mat-list-item>
                        <mat-list-item role="listitem">Sales Report</mat-list-item>
                        <mat-list-item role="listitem">Shipments</mat-list-item>
                      </mat-list>
                </mat-expansion-panel>
            </mat-accordion>
        </li>
        <li class="menuLeftNavigation">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        Customers
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list role="list">
                        <mat-list-item role="listitem" >View Orders</mat-list-item>
                        <mat-list-item role="listitem" >Sales Report</mat-list-item>
                      </mat-list>
                </mat-expansion-panel>
            </mat-accordion>
        </li>
        <li class="menuLeftNavigation">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        Orders
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list role="list">
                        <mat-list-item role="listitem">View Orders</mat-list-item>
                        <mat-list-item role="listitem">Sales Report</mat-list-item>
                        <mat-list-item role="listitem">Shipments</mat-list-item>
                      </mat-list>
                </mat-expansion-panel>
            </mat-accordion>
        </li>
        <li class="menuLeftNavigation">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        Marketing
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <!-- <mat-list role="list">
                        <mat-list-item role="listitem" >Products</mat-list-item>
                        <mat-list-item role="listitem" >Add Product</mat-list-item>
                      </mat-list> -->
                </mat-expansion-panel>
            </mat-accordion>
        </li>
        <li class="menuLeftNavigation">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        Products
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list role="list">
                        <mat-list-item role="listitem" >Products</mat-list-item>
                        <mat-list-item role="listitem" >Add Product</mat-list-item>
                      </mat-list>
                </mat-expansion-panel>
            </mat-accordion>
        </li>
        <li class="menuLeftNavigation">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        Vendors
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list role="list">
                        <mat-list-item role="listitem" >Vendors</mat-list-item>
                        <mat-list-item role="listitem" >Add Vendor</mat-list-item>
                      </mat-list>
                </mat-expansion-panel>
            </mat-accordion>
        </li>
        <!-- <li class="menuLeftNavigation">
            <div class="sidebarOptions leftNavigationDropDown">
                <div class="sidebarImg">
                    <img class="onhoverInvisible" src="../Pics/SVG/Customers.svg" alt="Customers">
                    <img class="onhoverVisible" src="../Pics/SVG/New folder/Customers.svg" alt="Customers"
                        style="display:none;">
                </div>
                <a class="" href="#">Customers </a>
            </div>
            <ul class="submenuLeftNavigation p-0">
                <li>
                    <a href="#">View Orders</a>
                </li>
                <li>
                    <a href="#">Sales Report</a>
                </li>
                <li>
                    <a href="#">Shipments</a>
                </li>
                <li>
                    <a href="#">Abandoned / Live cart</a>
                </li>
                <li>
                    <a href="#">Call Request</a>
                </li>
            </ul>
        </li> -->
        <!-- <li>
            <div class="sidebarOptions">
                <div class="sidebarImg">
                    <img class="onhoverInvisible" src="../Pics/SVG/Dashboard.svg" alt="Dashboard">
                    <img class="onhoverVisible" src="../Pics/SVG/New folder/Dashboard.svg" alt="Dashboard"
                        style="display:none;">
                </div>
                <a class="" href="#">Products </a>
            </div>
        </li> -->
        <!-- <li>
            <div class="sidebarOptions">
                <div class="sidebarImg">
                    <img class="onhoverInvisible" src="../Pics/SVG/Marketing.svg" alt="Marketing">
                    <img class="onhoverVisible" src="../Pics/SVG/New folder/Marketing.svg" alt="Marketing"
                        style="display:none;">
                </div>
                <a class="" href="#">Marketing </a>
            </div>
        </li>
        <li>
            <div class="sidebarOptions">
                <div class="sidebarImg">
                    <img class="onhoverInvisible" src="../Pics/SVG/Vendors.svg" alt="Vendors">
                    <img class="onhoverVisible" src="../Pics/SVG/New folder/Vendors.svg" alt="Vendors"
                        style="display:none;">
                </div>
                <a class="" href="#">Vendors </a>
            </div>
        </li> -->
    </ul>
</div>
</div>
<router-outlet></router-outlet>
<router-outlet name="rightPane"></router-outlet>
<!-- <div class="route-panel">
    <router-outlet></router-outlet>
</div> -->